<apex:page >
  <br/>
  <h1>Welcome to my Demo VisualForce Page</h1>
  <br/><br/>
  Your Name is : <u>{!$User.FirstName}</u>
  <br/><br/>
  <apex:image url="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg" height="50%"/>
</apex:page>